*,
*::before,
*::after {
  box-sizing: border-box;
}
.themes {
  height: 50px;
  width: 60px;
  border-radius: 30px;
  color: var(--color-text);
  background-color: #ffffff;
}
.themes img {
  max-height: 30px;
  max-width: 30px;
}
html.light {
  --color-bg: #ffffff;
  --color-text: #000000;
}
html.dark {
  --color-text: #ffffff;
  --color-bg: #1c1c1c;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: var(--color-bg);
  color: var(--color-text);
}

.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 710px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1050px;
    margin: 0 auto;
  }
}

::selection {
  background: rgb(0, 123, 255, 0.3);
}
.content {
  max-width: 1650px;
  margin: auto;
  padding: 0 30px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  background: #414141;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 50%;
  height: 50%;
}
.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.navbar.sticky .menu-list li a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a {
  color: transparent;
  font-size: 16px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media (max-width: 1300px) {
  .menu-list li a {
    color: white;
    font-weight: 300;
    margin-left: 25px;
  }
}
.menu-list li a:hover {
  color: #007bff;
}

@media (max-width: 1300px) {
  .themes {
    font-size: 1;
  }
}
.about {
  padding: 30px 0;
}
.about .title {
  font-size: 38px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content {
    padding: 0 40px;
  }
}

@media (max-width: 1200px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 200vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}
.footer {
  background: transparent;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 1em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #303030;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
@media (max-width: 800px) {
  .dropdown-content {
    height: 200px;
    overflow-y: scroll;
    max-width: 320px;
    margin-left: -30%;
  }
  .dropdown-content1 {
    height: 600px;
    overflow-y: scroll;
    max-width: 320px;
    margin-left: 10%;
  }
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #414141;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #414141;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content1 a {
  color: gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content1 {
  display: block;
}
.dropdown-content a:hover {
  background-color: #39424b;
}
.dropdown-content1 a:hover {
  background-color: #39424b;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

h2 {
  text-align: center;
  padding: 3rem;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}
/* Slider */
.slick-slide {
  margin: 0px 10px;
}
.slick-slide img {
  width: 100%;
}
.tex {
  margin-left: 3%;
  font-size: large;
}
.slick-slide {
  margin: 0px 10px;
}
.slick-slide img {
  width: 100%;
}

.accordion {
  border: 3px var(--color-text);
  background-color: var(--color-bg);
  color: var(--color-text);
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-left: 45px;
  margin-right: 45px;
}

.active,
.accordion:hover {
  background-color: gray;
  border: 3px var(--color-text);
}

.panel {
  margin-left: 45px;
  border: 3px var(--color-text);
  padding: 0 18px;
  display: none;
  background-color: var(--color-bg);
  overflow: hidden;
}
.accordionbut {
  border: 3px var(--color-text);
  background-color: var(--color-bg);
  color: var(--color-text);
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-left: 45px;
  margin-right: 45px;
}
.active,
.accordionbut:hover {
  background-color: gray;
  border: 3px var(--color-text);
}
